/* Web Fonts */


/* monda-regular - latin */

@font-face {
    font-family: 'Monda';
    font-style: normal;
    font-weight: 400;
    src: local('Monda Regular'), local('Monda-Regular'), url('/fonts/webfonts/monda-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/webfonts/monda-v14-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* monda-700 - latin */

@font-face {
    font-family: 'Monda';
    font-style: normal;
    font-weight: 700;
    src: local('Monda Bold'), local('Monda-Bold'), url('/fonts/webfonts/monda-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/webfonts/monda-v14-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* julius-sans-one-regular - latin */

@font-face {
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    src: local('Julius Sans One'), local('JuliusSansOne-Regular'), url('/fonts/webfonts/julius-sans-one-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/webfonts/julius-sans-one-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* A hack to disable horizontal scrolling in mobile for .columns
   * see https://github.com/jgthms/bulma/issues/449 */

body {
    overflow-x: hidden;
}

body {
    font-family: 'Monda', Sans-Serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Julius Sans One', Sans-Serif;
}


/* Smaller footer */

.footer {
    padding: 1rem 1.5rem 1rem;
}


/* Table for book descriptions */

table.book-desc {
    margin-top: -15px;
}

table.book-desc th {
    padding-right: 15px;
}


/* extra class for equal-height cards */

.bm--card-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bm--card-equal-height .card-footer {
    margin-top: auto;
}

.bm--card-equal-height .card-content {
    padding: 15px;
}