<div class="hero-head">
    <nav class="navbar" role="navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <strong>Xianyang Zhang (张 先扬)</strong>
            </a>

            <div class="navbar-burger" data-target="navbar-main">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="navbar-menu" id="navbar-main">
            <div class="navbar-start">
                <!-- navbar items -->
                <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/"> Home </a>
                <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/team"> Team </a>
                <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/research"> Research </a>
                <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/software"> Software </a>
                <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/teaching"> Teaching </a>
            </div>

            <div class="navbar-end">
                <!-- navbar items -->
                <div class="navbar-item">
                    <a href="mailto:zhangxiany@stat.tamu.edu" class="button is-white">
                        <i class="fa fa-lg fa-envelope-o" aria-hidden="true"></i>
                    </a>
                    <a href="https://scholar.google.com/citations?hl=en&user=WUTkiugAAAAJ&view_op=list_works&sortby=pubdate" class="button is-white">
                        <i class="ai ai-lg ai-google-scholar-square" aria-hidden="true"></i>
                    </a>
                    <!-- a href="https://www.semanticscholar.org/author/1557383324" class="button is-white">
                        <i class="ai ai-lg ai-semantic-scholar" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/zhangxiany-tamu" class="button is-white">
                        <i class="fa fa-lg fa-github" aria-hidden="true"></i>
                    </a>
                    <a href="https://dblp.org/pid/286/4121.html" class="button is-white">
                        <i class="ai ai-lg ai-dblp" aria-hidden="true"></i>
                    </a> -->
                </div>
            </div>
        </div>
    </nav>
</div>
